div > a:link {

    text-decoration: none;
    color: #546A7B;
    float: right;
    position: relative;
    margin: 15px;
    padding-top: 5px;


    text-transform: uppercase;
}

div > a:visited {

    text-decoration: none;
    color: #546A7B;

}

div > a:hover {

    text-decoration: none;
}

div > a:active {
    color: #FFA15E;
    text-decoration: none;
}

div > a:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 0;
    background: transparent;
}

div > .line::after {

    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #C1CAD6;
    transition: transform .5s ease;
    transform: scaleX(0);

}

div > .line:hover::after {
    transform: scaleX(1);

}


.fixed-top {
    background-color: white;
}

h1 {
    margin-top: 155px;
    padding: 25px;
    text-align: center;
}

h2 {
    text-align: center;
    padding-bottom: 1em;
}

h3 {

    padding-top: 5px;
    padding-bottom: 5px;
    color: #546A7B;
    margin-top: 5px;
}

h6 {
    letter-spacing: 3px;

    padding: 1em 2em;
}

#one1, #two2, #three3, #four4 {
     padding-top: 5%;
    color: white;
    font-size: 80px;
    letter-spacing: 25px;
    font-weight: 700;
    background: rgb(0, 0, 0, 0.3);

}

.right {
    text-align: right;
}

.movie1 {
    margin: 155px 0px 50px 0px;

    background-image: url("../images/movie1.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35%;

}

.movie2 {
    background-image: url("../images/movie2.png");
    margin: 155px 0px 50px 0px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35%;
    
}

.movie3 {

    background-image: url("../images/movie3.png");
   margin: 155px 0px 50px 0px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35%;



}

.movie4 {
    background-image: url("../images/movie4.jpg");
    margin: 155px 0px 50px 0px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35%;
    
}

ul li {

    list-style: none;
    font-size: 10px;
    line-height: 26pt;
}

article {
    margin: 0px 5em;
}

body {
    font-family: 'Century Gothic', sans-serif;
    color: #000000;

}

footer {
    margin-top: 155px;
    padding: 25px;

    color: #C1CAD6;
    background-color: #1A2226;
    height: 20em;

}
